@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'Inter', sans-serif;
  margin-bottom: 14px;
  font-size: 28px;
}

.desc {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  width: 230px;
}

.info {
  float: right;
  margin-top: 50px;
}

.info:hover {
  cursor: grab;
}

/* Extra small size screens */
@media only screen and (min-width: 0px) {
  .logo {
    width: 60px;
    height: 88px;
  }
}

/* Large size screens and bigger */
@media only screen and (min-width: 992px) {
  .logo {
    width: 100px;
    height: 150px;
    margin-right: 10px;
  }
}
