.logo{
    width: 250px;
    height: 150px;
}

.title{
    font-size: 40px;
}

.logo-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.info:hover{
    cursor: grab;
}

/* Medium size screens and bigger */
@media only screen and (min-width: 768px) {
    .info{
        display: flex;
        justify-content: flex-end;
        margin-top: 50px;
    }
}

/* Extra small size screens */
@media only screen and (max-width: 575px) {
    .logo{
        width: 200px;
        height: 100px;
    }

    .info{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
}